:root {
    --bg-color: #FEF9EF;
    --font-color: #227C9D;
    --primary-color: #17C3B2;
    --secondary-color: #FFCB77;
    --accent-color: #FE6D73;
    --border-radius: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius);
    gap: 12px;
    align-items: center;
    background-color: var(--primary-color);
    color: inherit;
    padding: 20px;
}

#screen{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 52px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border-radius: var(--border-radius);
    border: var(--font-color) 2px solid;
    padding: 10px;
}

#pad {
    display: flex;
    flex-direction: column;
}

.pad-row {
    display: flex;
    justify-content: center;
}

.pad-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    flex-grow: 1;
    flex-basis: 0;
    color: var(--font-color);
    font-size: 20px;
    font-weight: bolder;
    border-radius: var(--border-radius);
    border: var(--font-color) 2px solid;
    margin: 5px;
    padding: 10px;
    height: 60px;
    width: 60px;
}

.pad-btn.ac-btn{
    background-color: var(--accent-color);
}